// Imports
@import "variables";

.bm {
  background-color: $color-one;
  min-height: 100vh;
  padding-top: 52px;
  display: flex;
  flex-flow: column;

  &--header {
    position: fixed;
    background-color: $color-two;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 20px;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    a {
      color: #fff;
    }
  }
}