@import "variables";
.bm--header {
  background-color: $color-one;
}

.element--detail {
  display: flex;
  flex: 1;

  &__sidebar {
    flex: 1 15%;
    background-color: $color-four;

    ul {
      li {
        list-style: none;

        a {
          padding: .5rem 20px;
          background: transparent;
          color: $color-one;
          transition: all .25s ease-in-out;
          display: block;


          &:hover,
          &.active {
            background-color: $color-five;
          }
        }
      }
    }
  }

  &__content {
    flex: 2 85%;
    background-color: $color-two;

    &--title {
      padding: 3.5rem 2.5rem;
      background-color: $color-one;

      h1 {
        color: $color-white;
      }
    }
  }
}